<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %><%= age %></h1>

    <h2 id="street1">sampke text</h2>
    <p>Welcome to <%= title %></p>
  </body>
  <script>
      var a=<%- JSON.stringify(address) %>;
      // alert(a.street);
      document.getElementById("street1").innerHTML=a.street;

  </script>
</html>
